@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Product Index Page</h2>

<a asp-controller="Product" asp-action="CreateProductExcel" class="btn btn-primary">Excel oluştur</a>